# --- START ---

RewriteEngine On
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]

<IfModule LiteSpeed>
   CacheLookup on
    RewriteRule .* - [E=Cache-Vary:current_locale]
</IfModule>

# --- END ---

